<label for="preg" class="rem">Preguntaja:</label>
 <input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="escribela aqui"/> <p>
 <label for="resp" class="rem">Respuestibiri:</label>
 <input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="y aqui la respuesta secreta"/> <p>
 <a href="/quizes"><button type="button">Cancelar</button></a>
 <input type="submit" value="Guarde">