<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>QuizOOO: el juego de las preg...</h2>

    <form method="get" action="/quizes/answer">        
    La Pregunta es: <%= pregunta %> <p>
      <input type="text" name="respuesta" placeholder="Responda aquí"/>
      <input type="submit" value="Enviar">
    </form>
  </body>
</html>